* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 500px;
    width: 100vw;
    background-color: aquamarine;
}

/* @media (max-width: 1250px) {
    .container {
        background-color: red;
    }
}
@media (max-width: 900px) {
    .container {
        background-color: salmon;
    }
}
@media (max-width: 600px) {
    .container {
        background-color: purple;
    }
} */

/* @media (max-width: 1250px) {
    h1{
        font-size: 10vw;
    }
  } */
/* @media (min-width: 1250px) {
    h1{
        font-size: 10vw;
    }
} */
@media (min-width:600px) and (max-width: 900px) {
   .container{
        background-color: seagreen;
    }
}
@media (min-width:300px) and (max-width: 600px), (min-width: 1200px) {
   .container{
        background-color: orange;
        height: 700px;
    }
}

